.wrapper {
  display: flex;
  min-height: 520px;
}

.contentWrapper {
  flex: 1 0 100%;
}

.mapWrapper {
  flex: 0 0 50%;
  transform: translateX(-100%);
}

.mapWrapper iframe {
  height: 100%;
}

.content {
  max-width: 50%;
  display: grid;
  gap: 50px;
  padding-bottom: 50px;
}

.title.outer {
  display: none;
  margin-bottom: 35px;
}

.contactsList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  width: 100%;
}

@media screen and (width <= 768px) {
  .wrapper {
    flex-direction: column-reverse;
  }

  .title.outer {
    display: block;
  }
  
  .title.inner {
    display: none;
  }

  .contentWrapper,
  .mapWrapper {
    flex: 1 1 auto;
  }

  .mapWrapper {
    overflow: hidden;
    display: flex;
    min-height: 80vw;
    transform: translateX(0);
  }

  .mapWrapper iframe {
    height: auto;
  }

  .content {
    max-width: 100%;
    padding: 50px 0 100px;
  }
}

@media screen and (width <= 425px) {
  .mapWrapper {
    min-height: 115vw;
  }

  .contactsList {
    gap: 25px;
    grid-template-columns: 1fr;
  }
}