.section {
  display: flex;
  min-height: 520px;
}

.contentWrapper {
  flex: 1 0 100%;
}

.mapWrapper {
  flex: 0 0 50%;
  transform: translateX(-100%);
}

.content {
  max-width: 50%;
  display: grid;
  gap: 50px;
  padding-bottom: 50px;
}

.title {
  margin-bottom: 60px;
}

.contactsList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  width: 100%;
}