* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Roboto, sans-serif;
}

html,
body {
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: var(--white);
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
}

.title {
  font-family: 'Obrazec 2.0', sans-serif;
}
