.section {
  padding: 90px 0;
}

.title {
  margin-bottom: 80px;
}

.image {
  width: 100%;
}

.swiper {
  --swiper-theme-color: var(--black);
}

@media screen and (max-width: 1100px) {
  .section {
    padding: 60px 0 50px;
  }

  .title {
    margin-bottom: 40px;
  }
}