.title {
  composes: title from "/assets/styles/common.css";
  font-size: 70px;
  color: var(--color);
}

.title.center {
  text-align: center;
  width: 100%;
}

.title.white {
  --color: var(--white);
}

.title.black {
  --color: var(--black);
}