.container {
  display: grid;
  gap: 25px;
  align-content: start;
}

.title {
  color: var(--black);
  font-size: 26px;
  font-weight: 700;
  margin: 0;
}

.value > * {
  text-decoration: none;
  font-size: 16px;
  line-height: 140%;
}

@media screen and (max-width: 768px) {
  .container {
    gap: 15px;
  }

  .title {
    font-size: 22px;
  }
}