.container {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 25px;
}

.item {
  position: relative;
  color: var(--white);
}

.item.dark {
  color: var(--black);
}

.item.marked::after {
  content: '*';
  line-height: 8px;
  position: absolute;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: currentcolor;
  bottom: 90%;
  left: 100%;
}

.link {
  display: block;
}

.icon {
  --size: 30px;

  height: var(--size);
  width: var(--size);
}
